<div class="container">
  <footer class="text-center text-lg-start bg-light text-muted">
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a target="_blank"
           href="https://www.facebook.com/Tranh-Th%C3%AAu-V%C3%A0-M%E1%BA%AFt-K%C3%ADnh-Anh-T%C3%A0i-2279873292240597"
           class="me-4 text-reset">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset rounded-circle">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://mail.google.com" class="me-4 text-reset">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>TRANH THÊU MẮT KÍNH ANH TÀI
            </h6>
            <p>
              Nơi thỏa sức với niềm đam mê tranh phong cảnh hữu tình, tranh hiện đại cũng như tranh vẽ tay kỉ niệm.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              NAVIGATION
            </h6>
            <p>
              <a href="#!" class="text-reset">Trang chủ</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Kính mắt</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Tranh thêu</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Liên hệ</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fa fa-home me-3"></i>Điện Nam Trung, Điện bàn, Quảng Nam</p>
            <p>
              <i class="fa fa-envelope me-3"></i>
              letrungthong14042000@gmail.com
            </p>
            <p><i class="fa fa-phone me-3"></i>+(84) 935492116</p>
            <p><i class="fa fa-print me-3"></i>+(81) 981729499</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Trung Thong</a>
    </div>
  </footer>
</div>
