<div class="container">
  <div class="row d-flex justify-content-center mt-5 border-0">
      <div class="card" style="width: 18rem;">
        <img src="https://cf.shopee.vn/file/86bfad54456331b9c3fdefc8d9486ff7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
          <a href="#">Đọc thêm...</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
          <a href="#">Đọc thêm...</a>
          <img src="https://cf.shopee.vn/file/86bfad54456331b9c3fdefc8d9486ff7" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://cf.shopee.vn/file/86bfad54456331b9c3fdefc8d9486ff7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
          <a href="#">Đọc thêm...</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
          <a href="#">Đọc thêm...</a>
          <img src="https://cf.shopee.vn/file/86bfad54456331b9c3fdefc8d9486ff7" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>
